name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  tag-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Tag and Push
        run: |
          VERSION=$(grep "^version" pyproject.toml | cut -d '"' -f 2)
          TAG="$VERSION"
          
          if git rev-parse "$TAG" >/dev/null 2>&1; then
            echo "Tag $TAG already exists. Skipping."
          else
            echo "Creating release $TAG"
            gh release create "$TAG" \
              --title "Release $TAG" \
              --generate-notes
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
